<h1>Tasks</h1>

<% if @task.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Task</th>
      </tr>
    </thead>
    
    <tbody>
      <% @task.each do |task| %>
      <tr>
        <td><%= link_to task.id, task_path(task) %></td>
        <td><%= task.status %></td>
        <td><%= task.content %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div>
  <%= paginate @task %> 
  </div>
  
<% end %>

<%= link_to 'Create New Task', new_task_path, class: "btn btn-primary" %>