<h1><%= @task.user.name %>'s Task</h1>

<p>Status　　<%= @task.status %></p>
<p>Task　　<%= @task.content %></p>

<%= link_to 'Back to Index', tasks_path %>
<%= link_to 'Delete Task', @task, method: :delete, data: { confirm: '本当に削除しますか？' } %> 