<h1>No.<%= @task.id %>'s Task</h1>

<p>Status　　<%= @task.status %></p>
<p>Task　　<%= @task.content %></p>

<%= link_to 'Back to Index', tasks_path %>
<%= link_to 'Edit Task', edit_task_path(@task) %>
<%= link_to 'Delete Task', @task, method: :delete, data: { confirm: '本当に削除しますか？' } %> 